@page "/calculate"

<h1>Calculate Triangle by Row and Column</h1>
<p>Given row (A-F) and column (1-12) determine triangle vertices:</p>

<EditForm Model="@viewTriangle" OnValidSubmit="GetTriangle">
    <DataAnnotationsValidator />
    <label for="row">Row</label>
    <InputText id="row" @bind-Value="viewTriangle.row" />
    <label for="column">Column</label>
    <InputNumber id="column" @bind-Value="viewTriangle.column" />
    <button class="btn-primary" type="submit">Triangulate!</button>
</EditForm>
<br/> <img src="/images/sillyCoordinates.png" /> <br/>
<ul>
        @foreach(var item in calculatedTriangles)
        {
            <li>Triangle @item.row @item.column would be at @item.triangle.ToString() </li>
        }
</ul>

@code{     
    private Triangularity.Models.Image img { get; set; }
    private Triangularity.Models.Triangle triangle { get; set; }


    public viewElement viewTriangle { get; set; }

    private List<viewElement> calculatedTriangles = new List<viewElement>();


    protected override void OnInitialized()
    {
        img = new Triangularity.Models.Image();
        viewTriangle = new viewElement();
        viewTriangle.row = "B";
        viewTriangle.column = 3;
    }

    private void GetTriangle()
    {
        try
        {
            viewTriangle.triangle = img.GetVerticesByRowCol(char.Parse(viewTriangle.row), viewTriangle.column);
            calculatedTriangles.Add(new viewElement(viewTriangle.triangle, viewTriangle.row, viewTriangle.column));

        }
        catch { //do something good 
        }
    }

    public class viewElement
    {
        public Triangularity.Models.Triangle triangle { get; set; }

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.StringLength(1,ErrorMessage ="Whoops! That won't match a row in the image")]
        public string row { get; set; }

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.Range(1, 12, ErrorMessage ="Invalid column size")]
        public int column { get; set; }

        public viewElement() { }

        public viewElement(Triangularity.Models.Triangle inTriangle, string inRow, int inColumn)
        {
            triangle = inTriangle;
            row = inRow;
            column = inColumn;
        }
    }
}

