@page "/"

<h1>Geometric layouts</h1>
<p><NavLink href="Calculate">1.A Calculate</NavLink> the triangle coordinates for an image with right triangles such that for a given row (A-F) and column (1-12) you can produce any of the triangles in the layout below</p>
<p><NavLink href="Locate">1.B Locate</NavLink>: Given the vertex coordinates, calculate the row and column for the triangle</p>
<img src="/images/imageField.jpg" alt="Behold my field of triangles." class="responsive" />



